<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - VinhKhanhFoodAPI</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>VinhKhanhFoodAPI</h1>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer>
        <hr />
        <p>&copy; 2024 - VinhKhanhFoodAPI</p>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
