@page
@model LoginModel

<h2>Đăng nhập chủ quán</h2>
<form method="post">
    <div>
        <label>Email</label>
        <input name="Email" />
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="Password" />
    </div>
    <button type="submit">Đăng nhập</button>
</form>
